packages/api/app/bundle.api.js
packages/api/dist
packages/api/migrations

packages/crdt/dist

packages/desktop-client/bundle.browser.js
packages/desktop-client/build/
packages/desktop-client/public/kcab/
packages/desktop-client/public/data/
packages/desktop-client/**/node_modules/*
packages/desktop-client/node_modules/
packages/desktop-client/src/icons/**/*

packages/desktop-electron/client-build/
packages/desktop-electron/dist/

packages/import-ynab4/**/node_modules/*

packages/import-ynab5/**/node_modules/*

packages/loot-core/**/node_modules/*
packages/loot-core/**/lib-dist/*
packages/loot-core/**/proto/*

packages/node-libofx/libofx.*.js
packages/node-libofx/libofx/
packages/node-libofx/OpenSP-*/
