# CODEOWNERS file for Actual Budget
# Please add your name to code-paths that you feel especially 
# passionate about. You will be notified for any PRs there.

/packages/api/                  @MatissJanis
/packages/component-library/    @MatissJanis

/packages/loot-core/src/server/budget @youngcw

/packages/desktop-electron/     @MikesGlitch

/packages/sync-server/          @matt-fidd
