[Desktop Entry]
Name=Actual
Type=Application
Comment=A local-first personal finance app
Terminal=false
Icon=org.actualbudget.actual
Exec=actual
Categories=Finance;Office;
StartupWMClass=Actual
Keywords=budget;finance;money;expenses;
