services:

  # Actual sync-server
  server:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile   # Dockerfile already has yarn dependencies
    environment:
      NODE_ENV: development
      ACTUAL_DATA_DIR: /data
      ACTUAL_PORT: 5006
    ports:
      - '${ACTUAL_PORT:-5006}:${ACTUAL_PORT:-5006}'
    volumes:
      - ..:/workspaces   # Mount host files within container
      - data:/data   # Persist data for the sync-server between sessions
      # Use the container version of the following directories
      - node_modules:/workspaces/node_modules
      - desktop_client_node_modules:/workspaces/packages/desktop-client/node_modules
      - desktop_client_public:/workspaces/packages/desktop-client/public
      - plugins_service_dist:/workspaces/packages/plugins-service/dist
      - sync_server_node_modules:/workspaces/packages/sync-server/node_modules
      - sync_server_build:/workspaces/packages/sync-server/build
    command: yarn start:server
    restart: unless-stopped
    healthcheck:
      test: curl -f http://localhost:${ACTUAL_PORT:-5006}/health || exit 1
      interval: 3s
      retries: 200
      start_period: 1s
      timeout: 10s

  # Actual browser client
  browser:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    ports:
      - '3001:3001'
    volumes:
      - ..:/workspaces   # Mount host files within container
      # Use the container version of the following directories
      - node_modules:/workspaces/node_modules
      - desktop_client_node_modules:/workspaces/packages/desktop-client/node_modules
      - desktop_client_public:/workspaces/packages/desktop-client/public
      - plugins_service_dist:/workspaces/packages/plugins-service/dist
      - sync_server_node_modules:/workspaces/packages/sync-server/node_modules
      - sync_server_build:/workspaces/packages/sync-server/build
    environment:
      NODE_ENV: development
      BROWSER: none
    depends_on:
      server:
        condition: service_healthy
    command: yarn start:browser
    restart: 'no'

volumes:
  data:
    driver: local
  node_modules:
    driver: local
  desktop_client_node_modules:
    driver: local
  desktop_client_public:
    driver: local
  plugins_service_dist:
    driver: local
  sync_server_node_modules:
    driver: local
  sync_server_build:
    driver: local
