###################################################
# This creates and stands up the development
# docker container. Depends on the Dockerfile and
# docker-start.sh files.
###################################################

services:
  actual-development:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    ports:
      - '3001:3001'
    volumes:
      - ..:/workspaces
    command: /bin/sh -c "while sleep 1000; do :; done"
    restart: 'no'
