services:

  # Actual sync-server
  server:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile   # Dockerfile includes yarn dependencies
    environment:
      NODE_ENV: development
      ACTUAL_DATA_DIR: /data   # Persist data for the sync-server
      ACTUAL_PORT: 5006
    ports:
      - '${ACTUAL_PORT:-5006}:${ACTUAL_PORT:-5006}'
    volumes:
      - ..:/workspaces   # Mount host files within container
      - sync_data:/data
      # Use the container version of the following directories
      - node_modules:/workspaces/node_modules
      - node_modules2:/workspaces/packages/desktop-client/node_modules
      - node_modules3:/workspaces/packages/sync-server/node_modules
    networks:
      - actual-net
    command: yarn start:server
    restart: unless-stopped
    healthcheck:
      test: curl -f http://localhost:${ACTUAL_PORT:-5006}/health || exit 1
      interval: 3s
      retries: 200
      start_period: 1s
      timeout: 10s

  # Actual browser client
  browser:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    networks:
      - actual-net
    ports:
      - '3001:3001'
    volumes:
      - ..:/workspaces   # Mount host files within container
      # Use the container version of the following directories
      - node_modules:/workspaces/node_modules
      - node_modules2:/workspaces/packages/desktop-client/node_modules
      - node_modules3:/workspaces/packages/sync-server/node_modules
    environment:
      NODE_ENV: development
      BROWSER: none
    depends_on:
      server:
        condition: service_healthy
    command: yarn start:browser
    restart: 'no'

networks:
  actual-net:
    driver: bridge

volumes:
  sync_data:
    driver: local
  node_modules:
    driver: local
  node_modules2:
    driver: local
  node_modules3:
    driver: local
