###################################################
# This creates and stands up the development
# docker container. Depends on the Dockerfile and
# docker-start.sh files.
###################################################

services:
  yarn-install:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
     - ..:/workspaces
    command: >
      bash -c "
        cd workspaces
        if [ ! -d \"node_modules\" ] || [ ! -d \"node_modules/.bin\" ]; then
          echo 'Installing dependencies...' &&
          yarn install --frozen-lockfile
        else
          echo 'Dependencies already installed, skipping install.'
        fi
        touch node_modules/.installed
        tail -f /dev/null   # Keep the container running
      "
    healthcheck:
      test: ["CMD", "test", "-f", "/workspaces/node_modules/.installed"]
      interval: 3s
      retries: 200
      timeout: 3s
      start_period: 1s

  server:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    environment:
      NODE_ENV: development
      ACTUAL_DATA_DIR: /data
      ACTUAL_PORT: 5006
    ports:
      - '${ACTUAL_PORT:-5006}:${ACTUAL_PORT:-5006}'
    volumes:
      - sync_data:/data
      - ..:/workspaces
    networks:
      - actual-net
    depends_on:
      yarn-install:
        condition: service_healthy
    command: >
      bash -c "
        cd workspaces
        yarn start:server
      "
        restart: unless-stopped
    healthcheck:
      test: curl -f http://localhost:${ACTUAL_PORT:-5006}/health || exit 1
      interval: 3s
      retries: 200
      start_period: 1s
      timeout: 10s

  browser:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    networks:
      - actual-net
    ports:
      - '3001:3001'
    volumes:
      - ..:/workspaces
    environment:
      NODE_ENV: development
      BROWSER: none
    depends_on:
      yarn-install:
        condition: service_healthy
      server:
        condition: service_healthy
    command: >
      bash -c "
        cd workspaces
        yarn start:browser
      "
    restart: 'no'
<<<<<<< HEAD
=======

networks:
  actual-net:
    driver: bridge

volumes:
  sync_data:
    driver: local
>>>>>>> 1de34a4db (Improve devcontainer to include both server and browser components)
