/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6b46c1;
  --ifm-color-primary-dark: #6b46c1;
  --ifm-color-primary-darker: #6b46c1;
  --ifm-color-primary-darkest: #6b46c1;
  --ifm-color-primary-light: #6b46c1;
  --ifm-color-primary-lighter: #6b46c1;
  --ifm-color-primary-lightest: #6b46c1;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #6b46c1;
  --ifm-color-primary-dark: #6b46c1;
  --ifm-color-primary-darker: #6b46c1;
  --ifm-color-primary-darkest: #6b46c1;
  --ifm-color-primary-light: #6b46c1;
  --ifm-color-primary-lighter: #6b46c1;
  --ifm-color-primary-lightest: #6b46c1;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.menu__link--unavailable {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}
